/* Reset e configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Variáveis de cores */
:root {
    --cor-primaria: #ff6699;
    --cor-secundaria: #f8acc4;
    --cor-fundo: #dfc6ce;
    --cor-texto: #333;
    --cor-branca: #fff;
    --sombra-padrao: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos base */
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0 auto;
}

/* Layout e componentes principais */
/* Cabeçalho */
header {
    background-color: var(--cor-primaria);
    color: #f4e1e7;
    padding: 20px;
    box-shadow: var(--sombra-padrao);
    font-size: 24px;
    font-weight: bold;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    height: 150px;
    margin: 50px;
}

.logo-transformation {
    display: flex;
    align-items: center;
}

/* Barra de Pesquisa */
.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 400px;
    margin-left: auto;
}

.search-bar input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
}

.search-bar button {
    background-color: var(--cor-branca);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Menu e Navegação */
.menu-carrinho {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 10px;
    right: 10px;
    z-index: 999;
}

.menu-carrinho li {
    margin: 0 5px;
}

.menu-carrinho a,
.menu-carrinho button {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: var(--cor-branca);
    background-color: var(--cor-secundaria);
    border-radius: 50%;
}

.menu-carrinho a:hover,
.menu-carrinho button:hover {
    background-color: var(--cor-primaria);
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Menu de Navegação */
nav {
    background-color: var(--cor-secundaria);
    padding: 15px;
    width: 100%;
    position: relative;
    z-index: 100;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: var(--cor-texto);
    padding: 10px 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: var(--cor-branca);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 0 auto;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--cor-texto);
    margin: 5px auto;
    transition: all 0.3s ease;
}

/* Banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.banner img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Produtos */
.products {
    padding: 20px;
    text-align: center;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: var(--cor-branca);
    border: 1px solid #ccc;
    border-radius: 8px;
    width: calc(25% - 20px);
    text-align: center;
    padding: 15px;
    box-shadow: var(--sombra-padrao);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-card button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: #ff3385;
}

/* Elementos de texto */
h4 {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--cor-primaria);
    text-shadow: 2px 2px 4px var(--cor-branca);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Utilitários */
.red-stripe {
    top: 10px;
    left: 10px;
    background-color: #333;
    color: var(--cor-branca);
    font-size: 0.9em;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Modo daltônico */
.modo-daltonico {
    filter: contrast(1.2) saturate(0.8);
    background-color: #000;
    color: #faff00;
}

body.daltonismo a {
    color: #ff4500;
}

/* Rodapé */
footer {
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: var(--cor-branca);
    transition: color 0.3s;
}

footer a:hover {
    color: #ff3385;
}

/* Responsividade */
@media (max-width: 1024px) {
    .product-card {
        width: calc(33.33% - 20px);
    }

    .menu-carrinho {
        position: static;
        justify-content: center;
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: relative;
        width: 90%;
        background-color: var(--cor-secundaria);
        padding: 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        margin: 10px auto; /* Alterado para centralizar */
        align-items: center; /* Centraliza os itens */
    }

    .product-card {
        width: calc(50% - 20px);
    }

    .search-bar {
        display: flex;
        margin: 10px auto; /* Alterado para centralizar */
        width: 80%;
    }

    /* Estilo do menu hamburguer */
    .menu-toggle {
        display: block;
        width: 45px;
        height: 45px;
        position: relative;
        cursor: pointer;
        padding: 8px;
        margin: 10px auto; /* Alterado para centralizar */
        z-index: 10;
        transition: all 0.3s ease;
    }

    .menu-toggle:hover {
        background: var(--cor-primaria);
        transform: scale(1.05);
    }

    .menu-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 6px auto;
        background-color: var(--cor-branca);
        transition: all 0.4s ease-in-out;
        position: relative;
        border-radius: 2px;
    }

    /* Animação para formar o X quando ativo */
    .menu-toggle.active {
        background: var(--cor-primaria);
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
        width: 28px;
        background-color: var(--cor-branca);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
        transform: translateX(-20px);
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
        width: 28px;
        background-color: var(--cor-branca);
    }

    .nav-links.active {
        display: flex;
        animation: slideDown 0.5s ease-in;
    }

    /* Animação para abrir o menu */
    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-15px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Animação para fechar o menu */
    .nav-links.closing {
        animation: slideUp 0.5s ease-out forwards;
    }

    @keyframes slideUp {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-15px);
        }
    }

    .nav-links li {
        margin: 12px;
        opacity: 0;
        animation: fadeIn 0.4s ease-in-out forwards;
        animation-delay: calc(0.1s * var(--i, 0));
        text-align: center;
        width: 100%; /* Garante que os itens ocupem toda a largura */
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateX(-15px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .nav-links a {
        display: block;
        color: var(--cor-texto);
        text-align: center;
        font-weight: bold;
        transition: all 0.3s ease;
        white-space: nowrap;
        padding: 12px 20px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%; /* Garante que os links ocupem toda a largura */
    }

    .nav-links a:hover {
        color: var(--cor-branca);
        background-color: var(--cor-primaria);
        transform: translateX(5px);
    }

    .catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .logo-transformation {
        display: flex;
        justify-content: center; /* Centraliza o logo */
        width: 100%;
    }

    .logo {
        height: 100px;
        margin: 0;
        padding-top: 25px;
    }

    .slogan {
        font-size: 35px;
        padding-top: 20px;
    }
}

@media (max-width: 480px) {
    .header-content {
        flex-direction: column;
        gap: 10px;
    }

    .catalog {
        flex-direction: column;
    }

    .product-card {
        width: 100%;
    }
}