/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #eee4e7;
    color: #333;
    line-height: 1.6;
}

/* Header */



/* Products */
.products {
    flex: 1;
    padding: 20px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ffecb3;
    border-radius: 8px;
    width: calc(25% - 20px);
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #ff6699;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .catalog {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 100%;
    }

    .sidebar-menu {
        width: 100%;
        height: auto;
    }
}
